@model BookShelfApi.Models.IssuedBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IssuedBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IssueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
